:root {
    --core-color-brand-50: #f8faff;
    --core-color-brand-100: #e9edff;
    --core-color-brand-200: #c8d3ff;
    --core-color-brand-300: #a9baff;
    --core-color-brand-400: #88a0ff;
    --core-color-brand-500: #6382ff;
    --core-color-brand-600: #3960ff;
    --core-color-brand-700: #1544ff;
    --core-color-brand-800: #002de0;
    --core-color-brand-900: #0022a8;
    --core-color-accent-50: #EDFDFB;
    --core-color-accent-100: #BFF9F2;
    --core-color-accent-200: #71EFE1;
    --core-color-accent-300: #00E6CC;
    --core-color-accent-400: #00C7B0;
    --core-color-accent-500: #00A896;
    --core-color-accent-600: #008A7B;
    --core-color-accent-700: #006C60;
    --core-color-accent-800: #00564D;
    --core-color-accent-900: #004039;
    --core-color-secondary-50: #f9fafb;
    --core-color-secondary-100: #eeeff2;
    --core-color-secondary-200: #d3d7de;
    --core-color-secondary-300: #b6bcc8;
    --core-color-secondary-400: #99a1b2;
    --core-color-secondary-500: #7c879c;
    --core-color-secondary-600: #637089;
    --core-color-secondary-700: #4d5b79;
    --core-color-secondary-800: #364768;
    --core-color-secondary-900: #203257;
    --core-color-neutral-50: #f9fafb;
    --core-color-neutral-100: #f0f1f3;
    --core-color-neutral-200: #d9dbdf;
    --core-color-neutral-300: #b7bbc2;
    --core-color-neutral-400: #8f959f;
    --core-color-neutral-500: #6e7582;
    --core-color-neutral-600: #555e6e;
    --core-color-neutral-700: #3e4859;
    --core-color-neutral-800: #283242;
    --core-color-neutral-900: #131f30;
    --core-color-white: #ffffff;
    --core-color-brand: var(--core-color-brand-700);
    --core-color-accent: var(--core-color-accent-300);
    --core-color-secondary: var(--core-color-secondary-900);
    --semantic-color-fg-static-base: var(--core-color-neutral-900);
    --semantic-color-fg-static-accent: var(--core-color-accent);
    --semantic-color-fg-static-success-contrast: #408362;
    --semantic-color-fg-static-success: #64a183;
    --semantic-color-fg-static-danger-contrast: #ed001c;
    --semantic-color-fg-static-danger: #f34458;
    --semantic-color-fg-static-warning-contrast: #bb5c1d;
    --semantic-color-fg-static-warning: #eb702e;
    --semantic-color-fg-static-info-contrast: #3a6fe0;
    --semantic-color-fg-static-info: #618ce6;
    --semantic-color-bg-static-base: var(--core-color-white);
    --semantic-color-text: var(--core-color-neutral-900);
    --semantic-color-link-base: var(--core-color-brand);
    --semantic-color-link-hovered: var(--core-color-brand-800);
    --semantic-color-link-active: var(--core-color-brand-900);
}